{% extends 'base.html' %} {% block title %} Loan Calculator {% endblock %} {%
block body %}

<h2>Find Difference</h2>
<form action="/add" method="POST">

  <label for="numOne">
    Enter you first number:
    <input type="text" id="numOne" name="numOne" required autofocus />
  </label>
<br><br>
  <label for="numTwo">
    Enter your second number: <input type="text" id="numTwo" name="numTwo" required />
  </label>
<br><br>
  <input type="submit" value="Add">

</form>

{% if myValue %}
<p>The sum of the two numbers is: {{ myValue }}</p>
{% endif %}

{% endblock %}
